<h3>Hvad må jeg bruge materialerne til?</h3>
<p id="intro">Materialerne i AarhusArkivet er kategoriseret under mange forskellige ophavsretsgrupper. Forhold som alder, materialetype, kendskab til ophavsretsholderen, tilstedeværelsen af ophavsretsaftaler m.m. er bestemmende for, hvad man må bruge materialet til. For at gøre det nemmere for brugerne har vi reduceret de mange muligheder og særregler til fire overordnede klasser, som hver især tydeligt angiver, hvad man må bruge det fundne materiale til.</p>

<h4 id="public-domain">I offentlig eje</h4>
<p>Materiale, som er angivet til at være i offentlig eje, må uden ophavsretsmæssige begrænsninger genbruges. Hvor oplysningerne er tilgængelige, er det god skik at kreditere materialets ophavsretholdere.</p>
<p></p>

<h4 id="cc-by">Creative Commons Navngivelse</h4>
<p>Materiale, som er frigivet under en Creative Commons Navngivelse brugslicens, må genbruges under følgende vilkår:</p>
<blockquote>Du må distribuere, remix, tweake, og bygge videre på materialet, også kommercielt, så længe du krediterer de oprindelige ophavsretsholdere.</blockquote>
<p>Den fulde licenstekst, samt vejledninger til hvad passende kreditering betyder, <a href="https://creativecommons.org/licenses/by/4.0/deed.da">kan du finde her</a>.</p>

<h4 id="cc-by-nc">Creative Commons Navngivelse-IkkeKommerciel</h4>
<p>Materiale, som er frigivet under en Creative Commons Navngivelse-IkkeKommerciel brugslicens, må genbruges under følgende vilkår:</p>
<blockquote>Du må distribuere, remix, tweake, og bygge videre på materialet, dog ikke kommercielt (og ikke på sociale medier), så længe du krediterer de oprindelige ophavsretsholdere.</blockquote>
<p>Den fulde licenstekst, samt vejledninger til hvad passende kreditering betyder, <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.da">kan du finde her</a>.</p>

<h4 id="all-rights-reserved">Alle rettigheder forbeholdes</h4>
<p>Materiale, hvor alle rettigheder forbeholdes, må gerne ses på AarhusArkivet, men må ikke genbruges.</p>

