{% extends '_base.html' %}

{% block content %}
    <div class="resource">
        {% if collection == 'subjects' %}
            <h4>Emnekategorier</h4>
            <div>Overordnet beskrivelse af vores emner følger her...</div>

        {% elif collection == 'content_types' %}
            <h4>Materialetyper</h4>
            <div>Overordnet beskrivelse af vores materialetyper følger her...</div>

        {% elif collection == 'availability' %}
            <h4>Tilgængelighed</h4>
            <div>Beskrivelse af tilgængelighed følger her...</div>
            {% if resource == 1 %}
            {% elif resource == 2 %}
            {% elif resource == 3 %}
            {% elif resource == 4 %}
            {% endif %}

        {% elif subpage == 'usability' %}
            <h4>Brug af materialer</h4>
            <div>Beskrivelse af brugbarhed følger her...</div>
            {% if resource == 1 %}
            {% elif resource == 2 %}
            {% elif resource == 3 %}
            {% elif resource == 4 %}
            {% endif %}

        {% endif %}
    </div>

{% endblock content %}
